/* Selector de colores institucionales */
:root {
    --bg-color: lightgrey;
    --primary-color: rgb(96, 27, 32);
    --primary-color-low-alpha: rgba(96, 27, 32, .25);
    --error-color: #bb2929;
    --ok-color: #1ed12d;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 40px 0 0 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
}

/* Elimina el subrayado de los hipervínculos */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--bg-color);
    font-weight: 900;
}

main {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}

#footer {
    background-color: var(--primary-color);
    padding: 15px;
    opacity: .8;
    width: 100%;
    bottom: 0;
}

#footer a {
    font-family: 'Roboto', sans-serif;
    color: white;
    cursor: pointer;
    padding-left: 45px;
    text-decoration: none;
    align-items: center;
}

#footer a:hover {
    text-decoration: underline;
    color: var(--bg-color);
}

/* Estilo del header */
.header {
    background-color: var(--primary-color);
    opacity: .8;
    color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    padding: 15px;
    font-weight: bold;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

/* Estilo para la barra de navegación */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilo del botón "Inscribite" del header */
.btn-inscripcion {
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 3px;
    color: black;
    cursor: pointer;
    /* Hace aparecer la manito */
    text-align: center;
}

#logo:hover {
    animation: tilt-n-move-shaking 0.25s infinite;
    text-decoration: none;
    color: black;
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }

    50% {
        transform: translate(0, 0) rotate(0deg);
    }

    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}


/*----------------------- Estilos del formulario de inscripción -------------------*/

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
}

.formulario__label {
    display: block;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 40px;
    padding: 0 40px 0 10px;
    transition: 0.3s ease all;
    font-size: 14px;
}

/* Estilos del formulario de inscripción / Input seleccionado */
.formulario__input:focus {
    border: 3px solid var(--ok-color);
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

/* Estilos del formulario de inscripción / Mensajes de error debajo de cada input */
.formulario__input-error {
    font-size: 12px;
    margin: 8px 0 0 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

/*  Estilos del formulario de inscripción / Íconos de error */
.formulario__validadcion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__checkbox,
.formulario__mensaje,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

/*  Estilos del formulario de inscripción / Mensaje cuando no hay error (no se muestra) */
.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: var(--error-color);
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

/*  Estilos del formulario de inscripción / Mensaje cuando hay un error (se muestra) */
.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  Estilos del formulario de inscripción / Botón */
.formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 50%;
    background-color: var(--primary-color);
    opacity: .8;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    font-size: 16px;
}

.formulario__btn:hover {
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

/* Estilos del formulario de inscripción / Mensaje de éxito */
.formulario__mensaje-exito {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    color: var(--ok-color);
    display: none;
}

.formulario__mensaje-exito-activo {
    display: block;
}

/* Estilos del formulario de inscripción / Estilos para validación */
/* Cuando se rellenó correctamente */
.formulario__grupo-correcto .formulario__validadcion-estado {
    color: var(--ok-color);
    opacity: 1;
}

/* Cuando NO se rellenó correctamente */
.formulario__grupo-incorrecto .formulario__label {
    color: var(--error-color);
}

.formulario__grupo-incorrecto .formulario__validadcion-estado {
    color: var(--error-color);
    opacity: 1;
}

/* Borde */
.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid var(--error-color);
}

/* Mediaqueries (modificación de acuerdo al tamaño de la pantalla) */
/* Para pantallas de menos de 800px de ancho, determino que se vea 1 sola columna */
@media screen and (max-width: 800px) {
    .formulario {
        grid-template-columns: 1fr;
    }

    /* Hago que el checkbox, el mensaje y el boton, ocupen una sola columna */
    .formulario__checkbox,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }

    /* Botón de un 100% de la pantalla de ancho */
    .formulario__btn {
        width: 100%;
    }
}

/*---------------------- Aquí terminan los Estilos del formulario de inscripción -------------------*/

/* Estilos Home. Portada */
.Intro-texto {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.5vw;
    margin: 15px auto;
}

.Intro-img {
    width: 100%;
    border-radius: 3px;
}

/* Estilos para Home. Últimas noticias */
.noticias {
    margin: auto;
    text-align: center;
    margin-top: 20px;
    justify-content: center;
}

.noticias h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    background-color: var(--primary-color);
    padding: 10px;
    opacity: .8;
    color: white;
    border-radius: 3px;
}

.últimas-noticias {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px;
}

.fútbol-item {
    width: 300%;
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 10px;
    padding: 20px;
    margin: 10px;
}

.fútbol_img {
    width: 100%;
    /* height: 45%; */
    border-radius: 3px;
}

.fútbol-item-detail-title {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
}

.fútbol-item-detail-info {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
}

.pileta-item {
    width: 300%;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 10px;
    padding: 20px;
    margin: 10px;
}

.pileta_img {
    width: 100%;
    border-radius: 3px;
}

.pileta-item-detail-title {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
}

.pileta-item-detail-info {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
}

/* Estilos Home. Ubicación. Mapas */
.Ubi {
    display: flex;
}

.Ubicación {
    margin: 30px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
}

.Ubicación_mapa {
    margin-top: 30px;
    width: 250px;
    height: 250px
}

/* Estilos página "Deportes" */
.deportes {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 20px;
    flex-direction: row;
}

.deportes h3 {
    margin: 2px 0 2px 0;
}

.deportes a {
    text-decoration: none;
}

h5 {
    color: var(--primary-color);
    text-decoration: none;
    margin: 2px 0 2px 0;
}

h5:hover {
    color: var(--ok-color);
}

.cuadro_deporte {
    width: 100%;
    background-color: var(--primary-color-low-alpha);
    border-radius: 3px;
    box-shadow: 0 3px 10px;
    padding: 20px;
    margin-bottom: 30px;
}

/* Estilos página Biblioteca */
.Biblioteca-info p {
    text-align: justify;
    margin: 20px;
    justify-content: center;
    font-size: 1.5vw;
}

/* ----- Estilo página "Quiénes somos" ----- */
.Info-club {
    width: 100%;
    background-color: white;
    border: 2px solid var(--primary-color);
    border-radius: 3px;
    box-shadow: 0 0 10px #727272;
    text-align: justify;
    margin: 20px auto;
    padding: 10px 10px 20px;
    line-height: 25px;
}

.Info-club h2 {
    margin-bottom: 15px;
}

#titulo_autoridades {
    text-align: center;
    margin: 10px auto;
}

.tarjeta {
    width: 200px;
    border: 2px solid var(--primary-color);
    border-radius: 3px;
    box-shadow: 0 0 10px #727272;
    margin: 20px;
}

.tarjeta img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.textocard {
    padding: 10px;
}

.contenedor_autoridades p {
    padding: 0px 0px;
}

.contenedor_autoridades {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}