<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAC-Movies. Detail</title>
    <!-- Favicon -->
    <link rel="icon" href="../Static/IMG/favicon.ico">
</head>

<body>
    <!-- Esto es un comentario: ctrolKC -->
    <!-- ENCABEZADO -->
    <header>
        <nav>
            <!-- Logo -->
            <div>
                <a href="/"><span>CAC - Movies</span></a>
            </div>

            <!-- HIpervínculos del menú -->
            <ul>
                <li><a href="#popular">Tendencias</a></li>
                <li><a href="./register.html">Registrarse</a></li>
                <li><a href="#">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>

    <!-- CONTENIDO -->
    <main>
        <!-- Banner movie -->
        <section id="banner-movie">
            <!-- División para detalle de la peli -->
            <div>
                <div>
                    <!-- Póster -->
                    <div>
                        <img src="../Static/IMG/mario.jpg" alt="Mario">
                    </div>

                    <!-- Descripción -->
                    <div>
                        <!-- Título, año y duración -->
                        <div>
                            <h2>The Super Mario Bros. Movie <span>(2023)</span></h2>
                            <p>04/05/2023 · Animation, Family, Adventure, Fantasy, Comedy · 1h 33m</p>
                        </div>

                        <!-- Descripción de peli -->
                        <div>
                            <h3>Overview</h3>
                            <p>While working underground to fix a water main, Brooklyn plumbers—and brothers—Mario and Luigi are transported down a mysterious pipe and wander into a magical new world. But when the brothers are separated, Mario embarks on an epic quest to find Luigi.</p>
                        </div>

                        <!-- Autores -->
                        <div>
                            <!-- Autor 1 -->
                            <div>
                                <p>Aaron Horvath</p>
                                <p>Director</p>
                            </div>
                            <!-- Autor 2 -->
                            <div>
                                <p>Michael jelenic</p>
                                <p>Director</p>
                            </div>
                            <!-- Escritor-->
                            <div>
                                <p>Matthew Fogel</p>
                                <p>Writer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Info de la película -->
        <section id="more-info">
            <!-- División contenedora -->
            <div>
                <!-- División para más info de las películas -->
                <div>
                    <!-- Trailer -->
                    <div>
                        <h3>Ver Trailer</h3>
                        <!-- Video del trailer -->
                        <div>
                            <iframe width="559" height="314" src="https://www.youtube.com/embed/RjNcTBXTk4I" title="The Super Mario Bros. Movie | Final Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
                        </div>
                    </div>

                    <!--Redes. Más info -->
                    <div>
                        <!-- lista de redes sociales -->
                        <div>
                            <ul>
                                <li><a href="" target="_blank"></a>Facebook</li>
                                <li><a href=""target="_blank"></a>Twitter</li>
                                <li><a href=""target="_blank"></a>Instagram</li>
                                <li><a href=""></a>Movie</li>
                            </ul>
                        </div>

                        <!-- Tabla con más info -->
                        <div>
                            <table>
                                <tr>
                                    <th colspan="2">Info</th>
                                </tr>
                                    
                                <tr>
                                    <td><strong>Status</td>
                                    <td>Released</td>
                                </tr>

                                <tr>
                                    <td><strong>Original language</td>
                                    <td>English</td>
                                </tr>

                                <tr>
                                    <td><strong>Budget</td>
                                    <td>$1.000.000.500</td>
                                </tr>

                                <tr>
                                    <td><strong>Revenue</td>
                                    <td>$1.345.769.600</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- PIE -->
    <footer>
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas frecuentes</a>
        <a href="">Ayuda</a>
    </footer>
</body>

</html>