<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAC-Movies. List</title>
    <!-- Favicon -->
    <link rel="icon" href="../Static/IMG/favicon.ico">
</head>

<body>
    <!-- Esto es un comentario: ctrolKC -->
    <!-- ENCABEZADO -->
    <header></header>

    <!-- CONTENIDO -->
    <main>
        <!-- Formulario -->
        <section id="form"></section>

        <!-- Lista -->
        <section id="list"></section>
    </main>

    <!-- PIE -->
    <footer>
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas frecuentes</a>
        <a href="">Ayuda</a>
    </footer>
</body>

</html>